* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    transition: 0.3s;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
}
header {
    width: 100%;
    margin-bottom: 10%;
}

.header__nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px 100px;
    z-index: 10;

    display: flex;
    justify-content: space-between;

    font-size: 24px;

    color: #333;
    background: #fff;
}
.nav__logo:hover {
    transform: translateY(-4px);
}
.nav__logo-link {
    color: #333;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.list__item {
    margin-left: 40px;
}
.list__item:hover {
    transform: translateY(-4px);
}
.link {
    color: #333;
}
.link:hover {
    color: #b71540;
}
.hamburger__menu {
    display: none;
}
// Title & descr align center ----
.header__title {
    padding-top: 20%;
}
.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 0 auto;

    max-width: 500px;
}

.title {
    color: #333;
    font-size: 48px;
}
.descr {
    font-size: 24px;
    color: #777777;
}
.subtitle {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}
// About ----
#about:before {
    display: block;
    content: "";
    height: 55px;
    margin: -55px 0 0;
}
img {
    max-width: 350px;
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
    gap: 10%;
}
.text-info {
    max-width: 500px;
}
.about__title p.descr {
    margin-bottom: 100px;
}
.text-info__flex {
    display: flex;
    flex-wrap: wrap;
}
.text-info__flex > * {
    flex: 1 1 17em;
}
.text-info.text-info__flex p.descr {
    margin-bottom: 100px;
}
.subtitle-info__flex {
    flex-direction: column;
    text-align: center;
}
// Skills
#skills:before {
    display: block;
    content: "";
    height: 55px;
    margin: -55px 0 0;
}
.skills-flex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 20px;
}
.front,
.designer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 50px;
    width: 100%;
}
.pr-bar__html,
.pr-bar__css,
.pr-bar__figma,
.pr-bar__photoshop {
    width: 100%;

    .descr {
        float: right;
    }
    .progressbar {
        height: 10px;
        position: relative;
        background: #f6c6d3;
    }
    .progressbar > span {
        display: block;
        height: 100%;
        width: 80%;
        background-color: #b71540;
        position: relative;
        overflow: hidden;
    }
}
.pr-bar__css {
    .progressbar > span {
        width: 70%;
    }
}
.pr-bar__figma {
    .progressbar > span {
        width: 80%;
    }
}
.pr-bar__photoshop {
    .progressbar > span {
        width: 60%;
    }
}
// portfolio
#portfolio:before {
    display: block;
    content: "";
    height: 80px;
    margin: -55px 0 0;
}
.portfolio {
    margin-bottom: 50px;
    .portfolio__title.center p.descr {
        margin-bottom: 50px;
    }

    .portfolio__gallery {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .first,
    .second {
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .first {
        background: url(../img/Logoipsum.jpg);
        img {
            max-width: 128px;
            max-height: 34px;
            margin: 0;
        }
    }
    .second {
        background: url(../img/kea.jpg);
        p {
            font-size: 36px;
            color: #fff;
        }
    }
    .project-link:hover {
        transform: translateY(-15px);
    }
}
// contact me
#contact:before {
    display: block;
    content: "";
    height: 80px;
    margin: -55px 0 0;
}
.contact {
    margin-bottom: 50px;
}
.form-name,
.form-email,
.form-message {
    background: #F6C6D3;
    font-size: 24px;
    border-radius: 30px;
    margin: 10px;
    padding: 26px;
    min-width: 600px;
    &::placeholder {
        font-size: 24px;
        color: #777;
    }
    &:hover::placeholder {
        color: #b71540;
    }
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    width: 600px;
    display: block;
    background: #b71540;
    font-size: 24px;
    border-radius: 30px;
    margin: 10px;
    padding: 26px;
    text-align: center;
    color: #fff;
}
.button:hover {
    opacity: 90%;
}
// footer ----
.footer {
    background: #b71540;
    p {
    color: #fff;

    }
}
.flex-box {
    display: flex;
    justify-content: space-between;
    img {
        width: 40px;
        height: 40px;
    }
    .social-links {
        text-align: center;
        .links {
            display: flex;
            justify-content: space-between;
        }
    }
}